= link_to "c", category_path
/ ==============================header=================================
.slider_box
  .slider_box2
    .container_12
      .grid_12
        .slider_wrapper
          #camera_wrap.camera_wrap{:style => "display: block; margin-bottom: 20px; height: 404px;"}
            .camera_fakehover
              .camera_src.camerastarted.hovered
                %div{"data-src" => "/assets/slide1.jpg"}
                %div{"data-src" => "/assets/slide2.jpg"}
                %div{"data-src" => "/assets/slide3.jpg"}
              .camera_target
                .cameraCont
                  .cameraSlide.cameraSlide_0{:style => "visibility: visible; display: none; z-index: 1;"}
                    %img.imgLoaded{"data-alignment" => "", "data-portrait" => "", :height => "404", :src => "/assets/slide1.jpg?1425137453190", :style => "visibility: visible; height: 404px; margin-left: -6.5px; margin-top: 0px; position: absolute; width: 939px;", :width => "939"}/
                    .camerarelative{:style => "width: 926px; height: 404px;"}
                  .cameraSlide.cameraSlide_1{:style => "display: none; z-index: 1;"}
                    %img.imgLoaded{"data-alignment" => "", "data-portrait" => "", :height => "404", :src => "/assets/slide2.jpg?1425137454300", :style => "visibility: visible; height: 404px; margin-top: 0px; position: absolute; margin-left: -6.5px; width: 939px;", :width => "939"}/
                    .camerarelative{:style => "width: 926px; height: 404px;"}
                  .cameraSlide.cameraSlide_2.cameracurrent{:style => "display: block; z-index: 999;"}
                    %img.imgLoaded{"data-alignment" => "", "data-portrait" => "", :height => "404", :src => "/assets/slide3.jpg?1425137466527", :style => "visibility: visible; height: 404px; margin-left: -6.5px; margin-top: 0px; position: absolute; width: 939px;", :width => "939"}/
                    .camerarelative{:style => "width: 926px; height: 404px;"}
                  .cameraSlide.cameraSlide_3.cameranext{:style => "z-index: 1; display: none;"}
                    .camerarelative{:style => "width: 926px; height: 404px;"}
              .camera_overlayer
              .camera_target_content
                .cameraContents
                  .cameraContent{:style => "display: none;"}
                  .cameraContent{:style => "display: none;"}
                  .cameraContent.cameracurrent{:style => "display: block;"}
              .camera_bar{:style => "display: none; top: auto; height: 7px;"}
                %span.camera_bar_cont{:style => "opacity: 0.8; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; background-color: rgb(34, 34, 34);"}
                  %span#pie_0{:style => "opacity: 0.8; position: absolute; left: 0px; right: 0px; top: 2px; bottom: 2px; display: block; background-color: rgb(238, 238, 238);"}
              .camera_commands
                .camera_play{:style => "display: none;"}
                .camera_stop{:style => "display: block;"}
              .camera_prev
                %span
              .camera_next
                %span
            .camera_pag
              %ul.camera_pag_ul
                %li.pag_nav_0{:style => "position:relative; z-index:1002"}
                  %span
                    %span 0
                %li.pag_nav_1{:style => "position:relative; z-index:1002"}
                  %span
                    %span 1
                %li.pag_nav_2.cameracurrent{:style => "position:relative; z-index:1002"}
                  %span
                    %span 2
            .camera_loader{:style => "display: none; visibility: visible;"}
/ =======content================================
.wrapper
  .container_12
    .grid_12
      .grid_4.alpha.txt_cntr.sign1.pos_rel
        %img.img1.no_resize{:alt => "", :src => "/assets/page1_icon1.png"}/
        %h3
          %a{:href => "#"} Duis autemve
        %p.w180.marTop_10 Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
      .grid_4.txt_cntr.sign2.pos_rel
        %img.img1.no_resize{:alt => "", :src => "/assets/page1_icon2.png"}/
        %h3
          %a{:href => "#"} Eodem modot
        %p.w180.marTop_10 Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
      .grid_4.omega.txt_cntr
        %img.img1.no_resize{:alt => "", :src => "/assets/page1_icon3.png"}/
        %h3
          %a{:href => "#"} Ut wisi enim adm
        %p.w180.marTop_10 Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
.box-1
  .container_12
    .grid_12
      .grid_4.alpha
        %p.title_subscr Newsletter
      .grid_8.omega
        %form#subscribe-form
          .success{:style => "display: none;"} Your subscription request has been sent!
          %fieldset
            .grid_5.alpha
              %label.email
                %input{:onblur => "myBlur(this);", :onfocus => "myFocus(this);", :type => "email", :value => "E-mail"}/
                %span.error *This is not a valid email address.
            .grid_3.omega
              .btns
                %a.more_btn{"data-type" => "submit", :href => "#"} Subscribe

= render 'products'

.box-2
  .container_12
    .grid_12
      .grid_4.alpha
        #owl.owl-carousel.owl-theme{:style => "opacity: 1; display: block;"}
          .owl-wrapper-outer
            .owl-wrapper{:style => "width: 1200px; left: 0px; display: block;"}
              .owl-item{:style => "width: 300px;"}
                .item
                  %blockquote
                    %p “Xam liber tempor cum so luta nob is eleifend option congue nihil imperdiet doming id quod mazim pla cerat facer possim  nihil imperdiet doming id qu”
                  %p.bq_txt1 Amanda Smith
                  %p.bq_txt2 Office Manager, USA
              .owl-item{:style => "width: 300px;"}
                .item
                  %blockquote
                    %p “congue nihil imperdiet doming id am liber tempor cum so luta nob is eleifend option quod mazim pla cerat facer possim  nihil imperdiet doming id qu”
                  %p.bq_txt1 Jessy Smith
                  %p.bq_txt2 Office Manager, USA
          .owl-controls.clickable
            .owl-pagination
              .owl-page.active
                %span
              .owl-page
                %span
      .grid_8.omega
        %p.title_order Ordering
        .wrapper.marTop2
          %p.num_txt 1.
          .box2
            %p.color1 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea.
        .wrapper.marTop3
          %p.num_txt 2.
          .box2
            %p.color1 Sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imper.



