%br
%a= link_to 'Додати продукт', new_admin_product_path
%br
%h1 Список продукції

%table
  %thead
    %tr
      %th
      %th
      %th
      
  %tbody
    - @products.each do |product|
      %tr
        %h4= link_to product.name, admin_product_path(product)
        %br
        %br
        = link_to 'видалити', admin_product_path(product), :method => :delete
        %hr
      %br
