= render 'products'
.box-2
  .container_12
    .grid_12
      .grid_4.alpha
        #owl.owl-carousel.owl-theme{:style => "opacity: 1; display: block;"}
          .owl-wrapper-outer
            .owl-wrapper{:style => "width: 1200px; left: 0px; display: block;"}
              .owl-item{:style => "width: 300px;"}
                .item
                  %blockquote
                    %p “Xam liber tempor cum so luta nob is eleifend option congue nihil imperdiet doming id quod mazim pla cerat facer possim  nihil imperdiet doming id qu”
                  %p.bq_txt1 Amanda Smith
                  %p.bq_txt2 Office Manager, USA
              .owl-item{:style => "width: 300px;"}
                .item
                  %blockquote
                    %p “congue nihil imperdiet doming id am liber tempor cum so luta nob is eleifend option quod mazim pla cerat facer possim  nihil imperdiet doming id qu”
                  %p.bq_txt1 Jessy Smith
                  %p.bq_txt2 Office Manager, USA
          .owl-controls.clickable
            .owl-pagination
              .owl-page.active
                %span
              .owl-page
                %span
      .grid_8.omega
        %p.title_order Ordering
        .wrapper.marTop2
          %p.num_txt 1.
          .box2
            %p.color1 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea.
        .wrapper.marTop3
          %p.num_txt 2.
          .box2
            %p.color1 Sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imper.
  
